<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>grupos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let group of group$ | async; let i = index" >
      <ion-avatar slot="start">

      </ion-avatar>
      <ion-label class="ion-text-nowrap">
        {{group.name}}
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>